html, body {
  height: 100%;
  width:100%;
}

.full-height-width {
  height: 100%;
  width: 100%;
}

body div{
	width: auto;
    text-align: center;
    background-size:cover;
   	
}

.content{
	text-align: center;
	padding-top: 200px;

}